.grid-cell {
    position: relative;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.5px color-mix(in srgb, var(--bs-primary) 50%, transparent) inset;
}

.grid-cell.selected {
    background-color: color-mix(in srgb, var(--bs-info) 75%, transparent);
}

.grid-cell.same-value {
    background-color: color-mix(in srgb, var(--bs-info) 50%, transparent);
}

.grid-cell.same-region {
    background-color: color-mix(in srgb, var(--bs-info) 25%, transparent);
}

.grid-cell.end-game-animation {
    animation: end-game-animation 750ms;
}

@keyframes end-game-animation {
    30% {
        background-color: var(--bs-info);
    }

    100% {
        background-color: transparent;
    }
}