.grid-cell {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.grid-cell.selected {
    background-color: color-mix(in srgb, var(--bs-info) 75%, transparent);
}

.grid-cell.same-value {
    background-color: color-mix(in srgb, var(--bs-info) 50%, transparent);
}

.grid-cell.same-region {
    background-color: color-mix(in srgb, var(--bs-info) 25%, transparent);
}

.grid-cell.end-game-animation {
    animation: end-game-animation 5000ms infinite;
}

@keyframes end-game-animation {
    5% {
        background-color: color-mix(in srgb, var(--bs-info) 100%, transparent);
    }

    7.5% {
        background-color: color-mix(in srgb, var(--bs-info) 75%, transparent);
    }

    12.5% {
        background-color: color-mix(in srgb, var(--bs-info) 95%, transparent);
    }

    22.5% {
        background-color: color-mix(in srgb, var(--bs-info) 0%, transparent);
    }
}