.grid-cell {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.grid-cell.selected {
    background-color: color-mix(in srgb, var(--bs-info) 75%, transparent);
}

.grid-cell.same-value {
    background-color: color-mix(in srgb, var(--bs-info) 50%, transparent);
}

.grid-cell.same-region {
    background-color: color-mix(in srgb, var(--bs-info) 25%, transparent);
}

.grid-cell.end-game-animation {
    animation: end-game-animation 850ms;
}

@keyframes end-game-animation {
    20% {
        background-color: color-mix(in srgb, var(--bs-info) 100%, transparent);
    }

    25% {
        background-color: color-mix(in srgb, var(--bs-info) 85%, transparent);
    }

    30% {
        background-color: color-mix(in srgb, var(--bs-info) 95%, transparent);
    }

    100% {
        background-color: transparent;
    }
}
