.board-component {
    width: 95dvmin;
    height: 95dvmin;
    max-width: min(var(--board-container-size), 100%);
    max-height: var(--board-container-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
