#gameSettingsModal .accordion-button {
    box-shadow: none;
}

#gameSettingsModal .accordion-body {
    padding-left: 0;
    padding-right: 0;
}

#gameSettingsModalLabel {
    color: var(--bs-info);
    background-color: var(--bs-primary-rgb);
    text-align: center;
    margin: 5px;
}
