.board-component {
    width: min(100%, 100svmin);
    height: min(100%, 100svmin);
    background-color: var(--board-background-color);
    max-width: var(--board-container-size);
    max-height: var(--board-container-size);
    display: flex;
    align-items: center;
    justify-content: center;
}