.sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sudoku-cell-notes {
    position: relative;
    left: -8%;

    max-width: 3ch;
    line-height: 12px;
    letter-spacing: 3px;
    font-size: 0.7em;
    text-align: center;
    color: color-mix(in srgb, var(--bs-heading-color) 30%, transparent);
}

.sudoku-cell-answer {
    padding-top: 10px;
    color: var(--bs-heading-color);
    font-size: 1.5rem;
}

.sudoku-cell-answer.hint {
    color: var(--bs-success);
}

.sudoku-cell-answer.wrong {
    color: var(--bs-danger);
}
