.grid-cage {
    border: 1.5px dashed color-mix(in srgb, var(--bs-primary) 95%, transparent);
    position: absolute;
    width: 87.5%;
    height: 87.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-cage.labeled {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
}

.grid-cage-label {
    font-size: 0.7em;
    position: absolute;
    top: 0px;
    left: 3px;
    height: 40%;
    width: 40%;
    text-align: left;
    color: var(--bs-primary);
}