.killer-cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.killer-cell-notes {
    font-size: 0.85rem;
    color: var(--bs-info);
}

.killer-cell-answer {
    color: var(--bs-primary);
    font-size: 2rem;
}
