.sudoku-cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sudoku-cell-notes {
    font-size: 0.85rem;
    color: var(--bs-info);
}

.sudoku-cell-answer {
    padding-top: 10px;
    color: var(--bs-primary);
    font-size: 2rem;
}