.grid-component {}

.grid-block-line {
    display: flex;
}

.grid-block {
    border: 1px solid var(--bs-primary);
}

.grid-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid color-mix(in srgb, var(--bs-primary) 25%, transparent);
}