#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: antiquewhite;
}

#app {
    width: var(--grid-container-size);
    height: var(--grid-container-size);
}