:root {
    --sudoku-font-family: 'Rock Salt', cursive;

    --board-container-size: 500px;
    --board-background-color: color-mix(in srgb, var(--bs-primary-bg) 90%, transparent);
    --background-color: var(--bs-primary-bg-subtle);
    user-select: none;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    touch-action: pan-y;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.font-awesome-icon {
    padding: 0 10px;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}